@charset "Utf-8";


*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

:root{
    --cor-principal: #1933DB;
    --cor-suave: #4CC3DC;
    --cor-contraste: #6B570C;
}
html,
body {
    width: 100vw;
    height: 100vh;
}
h1{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}
p{
    text-align: justify;
    margin-bottom: 10px;
}
#iemail,#isenha{
    border: 3px solid black;
    width: 92%;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}
#ientrar{
    width: 98%;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    background-color: var(--cor-suave);
}

div#login{
height:300px;
padding: 8px;
}
body{
    background-color:var(--cor-principal) ;
}
main{
    position: relative;
    top: 50%;
    left: 50%;
}
section{
    background-color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    height: 500px;
    width: 250px;
    border-radius: 15px;
}

div img{
    width: 100%;
    height:200px;
    border-radius: 15px 15px 0px 0px;
}