@charset "Utf-8";


*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --cor-principal: #354cdd;
    --cor-suave: #4CC3DC;
    --cor-contraste: #6B570C;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--cor-principal);
}

div#login{
    text-align: center;
    display: block;
}

div#login h1{
    font-size: 1.2em;
    padding-top: 5px;
    margin-bottom: 10px;
}

div#login p {
    font-size: 0.8em;
    margin-bottom: 10px;
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;   
}

section{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 270px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.566);
    transition-timing-function: ease;
    transition: width 1s, height 1s;
    transform: translate(-50%, -50%);
}

div#foto{
    background-image: url(/img/pexels-pixabay-531756.jpg);
    background-size: cover;
    background-position:center center;
    height:200px;
    display: block;
}

div.campo{
    height: 43px;
    padding-top: 3px;
    padding-right: 2px;
    border-radius: 10px;
    margin: 5px 5px;
    background-color: var(--cor-principal);
}

#ientrar{
    height: 40px;
    border: none;
    display: block;
    margin: 5px 5px;
    border-radius: 10px;
    width: 96%;
    cursor: pointer;
    background-color: #ad8c14;
    font-size: 1em;
}
#ientrar:hover{
    background-color:#354cdd;
}
div a{
    color: black;
    font-size: 1em;
    display: block;
    padding-top: 3px;
    border-radius: 10px;
    height: 40px;
    margin: 5px 5px;
    width: 96%;
    text-decoration: none;
    background-color: var(--cor-contraste);
}
div a:hover{
    background-color: #354cdd;
}
div span{
    color: white;
}
div input{
    display: inline-block;
    width: 89%;
    border-radius: 10px;
    height: 40px;
    background-color: var(--cor-suave);
    border: none;
}
div input:focus-within{
    background-color: white;
}
